
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h5>Dylan Butelle</h5>
                <ul>
                    <li>
                        <a href="./downloads/CV2021.pdf">
                            Lire mon CV
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Liens</h5>
                <ul>
                    <li>
                        <a href="./about.php">
                            A propos
                        </a>
                    </li>

                    <li>
                        <a href="./portfolio.php">
                            Portfolio
                        </a>
                    </li>

                    <li>
                        <a href="./contact.php">
                            Me contacter
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="d-flex justify-content-between copyrights">
            <p>
                © 2021 Dylan Butelle. Tous droits réservés.
            </p>
            <p class="social">
                <a target="_blank" href="https://gitlab.com/dbutelle">
                    <i class="fab fa-gitlab"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/dylan-butelle-70a3b616b/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </p>
        </div>

    </div>
</footer>